parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\Location\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/MyPlanningController.php

		-
			message: '#^Using nullsafe property access "\?\-\>room" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Http/Controllers/MyPlanningController.php

		-
			message: '#^Access to an undefined property App\\Models\\Location\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/PlanningTaskUpdateService.php

		-
			message: '#^Access to an undefined property App\\Models\\Location\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/PlanningTaskCreationService.php
