parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\Location\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/MyPlanningShowDataService.php

		-
			message: '#^Access to an undefined property App\\Models\\Location\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/PlanningTaskUpdateService.php

		-
			message: '#^Access to an undefined property App\\Models\\Location\:\:\$pivot\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/PlanningTaskCreationService.php
